
.main-box {
    height: 100vh;
    background: #312478;
}
.main-input, .btn-clr {
    width: 260px;
    padding: 6px 8px;
    background-color: #fff;
    border: 1px solid #333;
}
.btn-clr {
    width: 120px;
    background-color: #3941b4;
    color: #fff;
}
.form-main {
    width: 80%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    min-height: 380px;
    align-items: center;
    flex-direction: column;
}
.table-main {
    width: 80%;
    margin-top: 30px;
   
}
.editt, .deletee {
    color: #ffffff;
    font-size: 0.8rem;
    margin: 0px 6px;
    cursor: pointer;
}
.deletee {
    color: #ffffff;
}
table.table {
    text-align: center;
}